/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.2;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  background-color: #222222;
}

/* STYLING */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 0px;
  background-color: black;
  width: 100%;
  padding: 1rem;
  z-index: 99;
}

.header-title {
  flex: 5;
}

.header-score {
  flex: 1.5;
  text-align: end;
}

.header-title > h1 {
  font-size: 4rem;
  color: #b8860b;
  font-weight: bold;
}

p {
  color: #b8860b;
  font-weight: bold;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

.card-grid {
  overflow-y: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2.5rem;
  padding: 1rem;
}

@media (min-width: 700px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (min-width: 1200px) {
  .card-grid {
    overflow-y: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
    padding: 1rem;
  }
}

.card {
  background-color: #8ab661;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.card:hover {
  box-shadow: 0px 0px 10px 10px yellow;
}

.card:active {
  opacity: 0.85;
}

.card > h1 {
  text-align: center;
  padding-top: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.card > img {
  border-radius: 1rem;
}

.notify-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: white;
  backdrop-filter: blur(5px);
  z-index: 101;
}

.notify-container {
  width: 80%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: black;
  text-align: center;
}

.notify-container > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.notify-close {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #8ab661;
  color: white;
  border: 0;
  box-shadow: 0px 0px 5px 2px #1c2d10;
}

.notify-close:hover,
.notify-close:active {
  opacity: 0.85;
}
